
{{!-- //Card de bootstrap para mostrar los productos --}}

<div class="col-12 col-md-3  mb-4 ms-auto"> 
    <div class="card">
        <a href="#" class="btn btn-default addcarrito" id="product">
         <img id="cardimg" class="btn btn-default addcarrito card-img-top img-fluid" src="{{imagen}}" alt="{{nombre}}" precio="{{precio}}">
         </a>
        <div class="card-body">
            <h4 class="card-title">{{nombre}}</h4>
            <p class="card-text">{{nombre}} fresc@s, llevalo a {{precio}} el Kg.</p>
        </div>
    </div>
</div> 

